html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    text-decoration: none;
}
header{
 border: 2px solid black;
 background-color: rgb(255, 71, 71);
 color: white;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;}
 .about{
    font-size: 20px;
    color: rgb(56, 56, 56);
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(200, 180, 150);
    border-radius: 10px;
 }
    
 body {

    background-color: rgba(255, 246, 212, 0.899);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
