html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
*{
    text-decoration: none;
}
header{
 border: 2px solid black;
 background-color: rgb(255, 71, 71);
 color: white;
}
 body {

    background-color: rgba(255, 246, 212, 0.899);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;}
h3{
    text-align: center;
}
 #container #Puya, #Fuego, #Bradatan, #Hrusca{
    text-align: center;
    width: 230px;
    height: 230px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 #about{
    font-size: 20px;
    color: rgb(56, 56, 56);
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(200, 180, 150);
    border-radius: 10px;
 }

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    font-size: 22px;
    border: 2px solid black;
    background-color: rgb(255, 71, 71);
    color: white;
    text-align: center;
}
